* {
	margin:0px;
	padding:0px;

	
}

main {
	width:1280px;
	margin: 0px auto;
}

header {
	padding:85px 160px 120px 160px;
	background:#222222;
}

ul,ol {
	list-style-type:none;
}

body {
	color: #D4D4D4;
	font-family: Verdana; 
	font-size:14px;
}

a {
	text-decoration:none;
	color: #D4D4D4;
}
 a:hover {
	 color: #FFCB06;
 }
 
nav {
	display:flex;
	justify-content:space-between;
	margin-bottom: 25px;
}

nav ul {
	display:flex;
	align-items: center;	
}

.premyshectva {
	background-color:#131313;
	justify-content:space-around;
}

.menu1 li {
	margin-right:30px;
}

.menu2 li {
	margin-left:25px;
}

#logo {
	margin-right: 60px;
}

nav ul {
	display: flex;
	align-items: center;
}
.header-bottom-left {
	width: 255px;
	margin-left:125px;
	margin-top:100px;
}

.header-bottom {
	display: flex;
	justify-content: space-between;

}

.header-bottom-left h1 {
	color: #FFFFFF;
	font-family: "Courier New";
	font-size: 44px;
	font-weight: bold;
	margin-bottom: 30px;
}

.header-bottom-left p {
	margin-bottom: 55px;
}

.header-bottom-left a {
	width: 240px;
	height: 50px;
	background-color: #FFCB06;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000000;
	border-radius: 25px;
	font-weight: bold;
	
}

.header-bottom-left a:hover {
	background-color: #D4D4D4;
}

.adventage {
	background-color: #131313;
	padding:85px 165px 79px 165px;
	display: flex;
	justify-content: space-around;
	margin-bottom: 34px;
}

.adventage div {
	width: 170px;
}

.adventage p {
	margin-top: 35px;
}

.content {
	padding: 80px 160px 125px 160px;
	background-color: #FFFFFF;
	color: #000000;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.content div {
	width: 454px;
}

.content div h2 {
	font-family: "Courier New";
	font-size: 24px;
	font-weight: bold;
}

.content-top h2 {
	margin-bottom: 45px;
}

.content-top p {
	margin-top: 33px;
}

.content-bottom{
	margin-top: 50px;
}

.content-bottom ul {
	margin-top: 30px;
}

.content-bottom ul li {
	margin-top: 25px;
	margin-left: 25px;
	position: relative;
}

.content-bottom ul li span {
	font-weight: bold;
}

.content-bottom ul li:before {
	content: '';
	width: 8px;
	height: 8px;
	background-color: #FFCB06;
	border-radius: 50%;
	position: absolute;
	left: -23px;
	top: 6px;
}



footer {
	padding:60px 160px 80px 160px;
	background-color: #131313;
	display:flex;
	justify-content: space-between;
}

footer div {
	width:180px;
}

.footer-left {
	height:200px;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer-logo {
	display: flex;
	align-items: center;
}

.footer-logo p {
	color: #D4D4D4;
	margin-left: 15px;

}

.footer-logo-p {
	color: #D4D4D4;
	margin-left: 15px;
	
}

.footer-left-p p {
	color:#555;
}
footer a{
	color:#888;
}
.footer a:hover{
	color:#FFCB06;
}

footer div h3 {
	padding-bottom:12px;
	border-bottom: 1px solid #555;
}

footer div ul {
	margin-top:55px;
}

footer div ul li {
	margin-top:30px;
}

